@use "variables" as *;
@use "mixins";

.basket {
  @include mixins.flex(column);
  gap: 2rem;
  min-height: auto;

  &__list {
    padding: 0 2rem 0 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    min-height: auto;

    &:empty {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__item {
    border-bottom: 1px solid $primary;
    padding: 1.5rem 0;

    &-index {
      @include mixins.flex(row);
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $primary;
      color: white;
      margin-right: 1rem;
    }

    &-delete {
      @include mixins.icon(2rem, 'trash');
      @include mixins.link($hover, white);
      opacity: 0.5;
      margin-left: 4rem;

      &:hover {
        color: white;
        opacity: 1;
      }
    }
  }
}